.declareWinner {
  img{
    width: 450px;
    height: 250px;
    border-radius: 15px;
  }
}
.hud{
  position: absolute;
  margin: 0 auto;
  width: 100%;
  top: 100px;
  left: 5px;
}

.robot{
  transform: scale(0.5);
}

.confetti1, .confetti2 {
  position: absolute;
  z-index: 0;
}

.drawGift{
  width: 100%;
}

.hdivider{
  height: 1px;
  background-color: $light-bg;
  margin: 10px 0;
}