.declareWinner {
  img{
    width: 450px;
    height: 250px;
    border-radius: 15px;
  }
}
.hud{
  position: absolute;
  margin: 0 auto;
  width: 100%;
  top: 100px;
  left: 5px;
}

.robot{
  transform: scale(0.5);
}