html, body { 
  height: calc(100vh - 70px); 
  width: 100%; 
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light-bg;
}

#root{
  height: 100%;
  width: 100%;
}

.layout{
  margin-top: 70px;
  padding: 20px;
}

.h-100{
  height: 100%;
}

.loader{
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 58.5px);
}

.vhcenter{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.wh100{
  height: 100vh;
  width: 100%;
}

.title-1{
  font-size: x-large;
  font-weight: 700;
  color: $black;
}

.title{
  font-size: large;
  font-weight: 700;
  color: $black;
}

.caption{
  font-size: medium;
  color: $black-lite;
}

.form-group{
  margin-bottom: 1rem;
}

.btn{
  color: $white !important;
}

.shadow-sm-new {
  box-shadow: 0 0.125rem 1.25rem rgba(58, 58, 58, 0.075) !important;
}

.shadow-nw{
  box-shadow: 0 0.125rem 0.70rem rgba(58, 58, 58, 0.075) !important;
}

.input-icon{
  position: relative;

  input.form-control{
    padding-left: 40px;
  }
}

.icon-input{
  position: absolute;
  margin: 10px;
  width: 20px;
  fill: #CCC;
}

.icon-btn{
  fill: #FFF;
  width: 15px;
  margin-right: 5px;
  margin-top: -2px;
}

.full-card {
  background-color: $white;
  padding: 20px;
  height: 100%;
  border-radius: 10px;
}

.dropdown-menu{
  box-shadow: 0 0.125rem 0.70rem rgba(58, 58, 58, 0.075) !important;
  border-color: #f5f5f5;
}

// Responsive
@include media-breakpoint-down(xs){
  .bg-primary .container{
    padding: 0px;
  }
  .min-padd-3{
    padding: 3px !important;
  }
  .min-padd-10{
    padding: 0px 10px !important;
  }
}

@include media-breakpoint-up(lg) {
  .btn{
    font-size: 14px;
  }

  h1{
    font-size: 22px;
  }

  h3{
    font-size: 17px;
  }
}

@include media-breakpoint-up(md) {
  h1{
    font-size: 25px;
  }

  h3{
    font-size: 17px;
  }
}

@include media-breakpoint-down(sm) {
  h1{
    font-size: 25px;
  }
}