.home {
  .side-tab {
    background-color: $white;
    padding: 20px;
    height: 100%;
    border-radius: 10px;
  }
  
  .tab-column {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom-width: 1px;
    border-bottom-color: #EEE;
    border-bottom-style: solid;

    .nav-link {
      color: $black-lite;
      font-weight: 600;
      padding: 7px 30px !important;
      transition: all .5s;
      &:hover {
        background-color: $lite-white;
      }
      &.active {
        color: $white;
        &:hover {
          background-color: $primary;
        }
      }
    }
  }

  .konoz {
    transition: all .5s;
    &:hover {
      background-color: $lite-white;
      border-radius: 10px;
      cursor: pointer;
    }
    img {
      width: 90px;
      height: 55px;
      border-radius: 5px;
    }
    .bg-success {
      background-color: #0dcc73 !important;
    }
  }
}