.navbar{
  display: flex;
  justify-content: space-around;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: $white;
  box-shadow: 0 0.125rem 0.70rem rgba(58, 58, 58, 0.075) !important;
  .navbar-brand{
    color: $primary;
    font-weight: 700;
    display: flex;
    align-items: center;
    
    .nav-logo{
      width: 60px;
    }
  }

  .nav-link{
    color: $black;
    padding: 0px;
    transition: all .3s;
  }

  .nav-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      .nav-icon{
        fill: $primary;
      }
      .nav-link{
        color: $primary !important;
      }
    }
  }

  .nav-icon{
    fill: $black-lite;
    width: 25px;
    transition: all .3s;
  }
}

.searchContainer{
  width: 35%;
  display: flex;
  position: relative;
  input{
    border-radius: 25px;
    border: none;
    padding-left: 20px;
    padding-right: 45px;
  }
  .searchIconContainer{
    position: absolute;
    right: 10px;
    background-color: $primary;
    height: 80%;
    margin: 4px -6px;
    padding: 0px 10px;
    border-radius: 18px;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      background-color: $hover;
    }
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-collapse {
  flex-grow: unset;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9;
}

@include media-breakpoint-down(sm){
  .brandName{
    display: none;
  }
  .navbar-brand{
    margin-right: 0px;
    svg{
      margin-right: 0px !important;
    }
  }
}

// Responsive
@include media-breakpoint-down(md){
  .navbar-toggler{
    border: none;
    font-size: 16px;
  }
  .navbar{
    .navbar-nav{
      flex-direction: row;
      justify-content: space-around;
    }
    .nav-item{
      width: auto;
    }
    .navbar-collapse{
      margin-top: 10px;
    }
    .dropdown:hover .dropdown-menu {
      position: absolute;
    }
    .navbar-toggler{
      padding: 0px;
    }
  }
  .searchContainer{
    width: 270px;
    margin-left: 0px;
  }
}